# Created by .ignore support plugin (hsz.mobi)
### macOS template
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.idea/
_api/
_www/
www/dist/
www/stage/
www/stage_nas/
www/src/BingSiteAuth.xml
www/src/google6acd2b3e4bad34ba.html
www/src/y_key_80c280816d539335.html
www/src/yahoo_authkey_80c280816d539335.txt
