@import 'base';
@import 'fonts';

html {
  position:   relative;
  min-height: 100%;
  overflow:   -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body {
  margin-bottom:    $footer_height;
  background-image: url("../images/tile.png");
}

.navbar-text > a {
  color:           inherit;
  text-decoration: none;
}

.loading {
  position:   fixed;
  top:        0;
  left:       0;
  width:      100%;
  height:     100%;
  background: url("../images/ajax-loader.gif") no-repeat center center;
}

header {
  width: 100%;
  .page-header {
    padding-bottom: 9px;
    margin:         40px 0 20px;
    border-bottom:  0;
  }
  nav {
    min-height: 56px;
    .navbar-right {
      margin-right: -5px;
    }
  }
  .year_drop {
    padding-right: 0.5rem;
  }
  button {
    cursor:        pointer;
    &.filter{
      width:60px;
    }
  }
}

.main_region {
  margin-top: 20px;
}

.item__container {
  //transition: 2.3s
  //transition-delay: 1s
  &.appear {
    opacity:    0.01;
    visibility: hidden;
  }
  &.appear-active {
    opacity:    1;
    visibility: visible;
    transition: opacity .3s ease-in;
  }
  &.enter {
    opacity:    0.01;
    visibility: hidden;
  }
  &.enter-active {
    opacity:    1;
    visibility: visible;
    transition: opacity .3s ease-in;
  }
  &.leave {
    opacity:    1;
    visibility: visible;
  }
  &.leave-active {
    opacity:    0.01;
    visibility: hidden;
    transition: opacity .3s ease-in;
  }
}

.list {

}

.list__item {
  &--subtle_shadow {
    border:           1px solid #c4c4c4;
    box-shadow:       2px 2px 1px 1px #dddddd;
    background-color: $white;
  }
}

.item__thumbnail {
  position: relative;
  .thumb {
    padding:          20px;
    background-color: $grey_light;
  }
  img {
    box-shadow: #000 0em 0em 0em;
    transition: opacity .2s ease-in-out;
    max-width:  100%;
    height:     auto;
  }
  img:hover {
    opacity: 0.5;
  }
  &.dark {
    background-color: #666666;
  }
}

.item__decoration {
  position:   relative;
  border-top: solid 1px $grey_dark;
  .decoration {
    position:   absolute;
    background: url("../images/sprites.png") 0 0;
    height:     12px;
    width:      44px;
    bottom:     -1%;
    &__left {
      left: 0;
    }
    &__right {
      right: 0;
    }
  }
}

.item__caption {
  margin-top: 20px;
  dt.project-title {
    min-height:  68px;
    line-height: 1.2em;
    padding:     0 5px;
    color:       $font_dark;
  }
  dd {
    background-color: $grey_light;
    border-top:       solid 1px $grey_dark;
    border-bottom:    solid 1px $grey_dark;
    color:            $font_light;
    &.client {
      font-size: 0.8em;
    }
    &.year {
      font-size: 0.6em;
    }
  }
}

.item__awards {
  border:       0;
  padding-left: 5px;
  .icon-star {
    cursor:    pointer;
    color:     $item__awards--default;
    font-size: 1em;
    &:hover {
      color: $item__awards--hover;
    }
  }
}

.entry-spacer {
  height: 20px;
}

/////////////////////////////////////////////////////////
// PORTFOLIO ITEM
/////////////////////////////////////////////////////////
.item {
}

.item__overview {
  margin-bottom: 50px;
}

.item__details {
  margin-bottom: 50px;
  .block-header {
    background-color: $blue_light;
  }
  li:nth-child(odd) {
    background-color: $grey_light;
  }
}

.item__awards {
  margin-bottom: 50px;
  .block-header {
    background-color: $blue_light;
  }
  .award {
    padding-bottom: 10px;
  }
}

.item__media {
  padding-left:   0;
  padding-bottom: 10px;
  .thumbnail {
    padding-bottom: 20px;
    max-width:      1024px;
    margin:         0 auto;
  }
  .swf_outer {
    //height:700px;
  }
  .swf_container {
    width: 100%;
    //height: 100%;
  }
}

.aboutme {
  img {
    max-width: 100%;
    height:    auto;
  }
  .page-header {
    margin: 0 0 20px;
  }
}

.details-seperator {
  @include dashed_line(1px);
}

/////////////////////////////////////////////////////////
// FOOTER
/////////////////////////////////////////////////////////
footer {
  position:    absolute;
  bottom:      0;
  width:       100%;
  height:      $footer_height;
  line-height: 60px;
  ul.nav {
    background-color: $white;
  }
  .seperator {
    clear:            both;
    background-color: $grey_med;
    height:           4px;
    border-top:       solid 1px $grey_dark;
    border-bottom:    solid 1px $grey_dark;
    /*USE border-box http://css-tricks.com/box-sizing/*/
    box-sizing:       border-box;
  }
  .credit {
    font-size: 0.8em;
  }
}

/*********************/
/* columns of same height styles
/* http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height
**********************/
.dropdown-menu {
  left:       50%;
  right:      auto;
  text-align: center;
  transform:  translate(-50%, 0);
}

/////////////////////////////////////////////////////////
// MEDIA QUERIES
/////////////////////////////////////////////////////////
/* Extra Small */
@media screen and (max-width: 575px) {
  html {
    font-size: 14px !important;
  }
  dt.project-title {
    font-size: 1.8em;
  }
  dd.client {
    font-size: 1.4em !important;
  }
  dd.year {
    font-size: 1.1em !important;
  }
  .aboutme {
    img {
      margin-bottom: 20px;
    }
  }
}

/* Small */
@media screen and (min-width: 576px) and (max-width: 767px) {
  html {
    font-size: 16px !important;
  }
  dt.project-title {
    font-size: 1.4em;
  }
  dd.client {
    font-size: 1.2em !important;
  }
  dd.year {
    font-size: 1em !important;
  }
  .aboutme {
    img {
      margin-bottom: 20px;
    }
  }
}

/* Medium */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  html {
    font-size: 18px !important;
  }
  dt.project-title {
    font-size: 1em;
  }
  dd.client {
    font-size: 0.9em !important;
  }
  dd.year {
    font-size: 0.8em !important;
  }
  .aboutme {
    img {
      margin-bottom: 20px;
    }
  }
}

/* Large */
@media screen and (min-width: 1200px) {
  html {
    font-size: 21px !important;
  }
  dt.project-title {
    font-size: 0.9em;
  }
}

