/* ---- Media list columns ---- */
.media-col--full {
  grid-column: 1 / -1;
  text-align: center;
}

.media-col--half,
.media-col--third,
.media-col--quarter {
  grid-column: span 1;
  text-align: center;
}

