/*https://www.radix-ui.com/colors/custom*/

:root, .light, .light-theme {
    --violet-1:         #fdfcff;
    --violet-2:         #f9f6ff;
    --violet-3:         #f0eaff;
    --violet-4:         #e6ddff;
    --violet-5:         #dbd0ff;
    --violet-6:         #cec0ff;
    --violet-7:         #bdaaff;
    --violet-8:         #a88eff;
    --violet-9:         #9D75FF;
    --violet-10:        #8d63f0;
    --violet-11:        #7c50d9;
    --violet-12:        #371a6f;

    --violet-a1:        #5500ff03;
    --violet-a2:        #5500ff09;
    --violet-a3:        #5200ff15;
    --violet-a4:        #4e00ff22;
    --violet-a5:        #4e00ff2f;
    --violet-a6:        #4c00ff3f;
    --violet-a7:        #4a00ff55;
    --violet-a8:        #4a00ff71;
    --violet-a9:        #4a00ff8a;
    --violet-a10:       #4200f09c;
    --violet-a11:       #3800d9af;
    --violet-a12:       #1a006fe5;

    --violet-contrast:  #fff;
    --violet-surface:   #f5f0ffcc;
    --violet-indicator: #9D75FF;
    --violet-track:     #9D75FF;
}

.dark, .dark-theme {
    --violet-1:         #120e18;
    --violet-2:         #181321;
    --violet-3:         #25103f;
    --violet-4:         #310157;
    --violet-5:         #3d0468;
    --violet-6:         #4c147a;
    --violet-7:         #5f2395;
    --violet-8:         #7e2dc3;
    --violet-9:         #9D75FF;
    --violet-10:        #8d63f0;
    --violet-11:        #c8a8ff;
    --violet-12:        #e8d5ff;

    --violet-a1:        #7100f108;
    --violet-a2:        #8042f412;
    --violet-a3:        #7802fc32;
    --violet-a4:        #7500ff4b;
    --violet-a5:        #7a00fd5e;
    --violet-a6:        #8318fe71;
    --violet-a7:        #8b31fe8e;
    --violet-a8:        #9137ffbf;
    --violet-a9:        #9D75FF;
    --violet-a10:       #8d63f0ef;
    --violet-a11:       #c8a8ff;
    --violet-a12:       #e8d5ff;

    --violet-contrast:  #fff;
    --violet-surface:   #1f153180;
    --violet-indicator: #9D75FF;
    --violet-track:     #9D75FF;
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
        :root, .light, .light-theme {
            --violet-1:         oklch(99.4% 0.0042 285);
            --violet-2:         oklch(98.3% 0.0105 285);
            --violet-3:         oklch(95.4% 0.0296 285);
            --violet-4:         oklch(92.7% 0.0532 285);
            --violet-5:         oklch(89.5% 0.0691 285);
            --violet-6:         oklch(85.7% 0.0832 285);
            --violet-7:         oklch(80.9% 0.1006 285);
            --violet-8:         oklch(74.9% 0.1277 285);
            --violet-9:         oklch(63.7% 0.2544 285);
            --violet-10:        oklch(59.6% 0.2549 285);
            --violet-11:        oklch(55% 0.2544 285);
            --violet-12:        oklch(34.1% 0.1405 285);

            --violet-a1:        color(display-p3 0.35 0.02 0.67 / 0.012);
            --violet-a2:        color(display-p3 0.35 0.02 0.88 / 0.032);
            --violet-a3:        color(display-p3 0.32 0.01 0.82 / 0.087);
            --violet-a4:        color(display-p3 0.31 0.01 0.84 / 0.146);
            --violet-a5:        color(display-p3 0.31 0 0.84 / 0.2);
            --violet-a6:        color(display-p3 0.30 0 0.85 / 0.259);
            --violet-a7:        color(display-p3 0.29 0 0.80 / 0.334);
            --violet-a8:        color(display-p3 0.29 0 0.77 / 0.44);
            --violet-a9:        color(display-p3 0.61 0.46 1 / 0.8);
            --violet-a10:       color(display-p3 0.55 0.39 0.94 / 0.816);
            --violet-a11:       color(display-p3 0.49 0.31 0.85 / 0.836);
            --violet-a12:       color(display-p3 0.22 0.10 0.44 / 0.938);

            --violet-contrast:  #fff;
            --violet-surface:   color(display-p3 0.96 0.94 1 / 0.8);
            --violet-indicator: oklch(63.7% 0.2544 285);
            --violet-track:     oklch(63.7% 0.2544 285);
        }
    }
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
        .dark, .dark-theme {
            --violet-1:         oklch(17.8% 0.0176 285);
            --violet-2:         oklch(20.6% 0.0225 285);
            --violet-3:         oklch(25.3% 0.0762 285);
            --violet-4:         oklch(29.2% 0.115 285);
            --violet-5:         oklch(33.2% 0.1285 285);
            --violet-6:         oklch(38.2% 0.1348 285);
            --violet-7:         oklch(44.9% 0.1493 285);
            --violet-8:         oklch(54.3% 0.1856 285);
            --violet-9:         oklch(63.7% 0.2544 285);
            --violet-10:        oklch(59.6% 0.2544 285);
            --violet-11:        oklch(78.6% 0.207 285);
            --violet-12:        oklch(90.6% 0.0675 285);

            --violet-a1:        color(display-p3 0.44 0 0.96 / 0.022);
            --violet-a2:        color(display-p3 0.50 0.27 1 / 0.059);
            --violet-a3:        color(display-p3 0.47 0.09 1 / 0.173);
            --violet-a4:        color(display-p3 0.46 0 1 / 0.261);
            --violet-a5:        color(display-p3 0.48 0.07 1 / 0.328);
            --violet-a6:        color(display-p3 0.51 0.20 1 / 0.4);
            --violet-a7:        color(display-p3 0.55 0.29 1 / 0.505);
            --violet-a8:        color(display-p3 0.57 0.31 1 / 0.681);
            --violet-a9:        color(display-p3 0.61 0.46 1 / 0.912);
            --violet-a10:       color(display-p3 0.55 0.39 0.94 / 0.853);
            --violet-a11:       color(display-p3 0.79 0.66 1 / 0.937);
            --violet-a12:       color(display-p3 0.91 0.84 1 / 0.967);

            --violet-contrast:  #fff;
            --violet-surface:   color(display-p3 0.12 0.09 0.17 / 0.5);
            --violet-indicator: oklch(63.7% 0.2544 285);
            --violet-track:     oklch(63.7% 0.2544 285);
        }
    }
}

.radix-themes {
    background-color:             transparent;
    --default-font-family:        'Helv', Arial, Helvetica;
    --heading-font-family:        var(--default-font-family);
    --font-weight-light:          200;
    --font-weight-regular:        300;
    --font-weight-medium:         600;
    --font-weight-bold:           800;

    --my-brand-black:             #202124;
    --my-brand-grey:              #8D8D8D;
    --my-brand-footer-grey:       #202020;
    --my-brand-color:             #9D75FF;
    --violet-9:                   var(--my-brand-color);
    --violet-a9:                  var(--my-brand-color);

    --container-4:                1440px;

    --cursor-button:              pointer;
    --cursor-checkbox:            pointer;
    --cursor-disabled:            default;
    --cursor-link:                pointer;
    --cursor-menu-item:           pointer;
    --cursor-radio:               pointer;
    --cursor-slider-thumb:        grab;
    --cursor-slider-thumb-active: grabbing;
    --cursor-switch:              pointer;
}

/* ---- App Custom Properties ---- */
:root {
    --font-dark:           #555555;
    --font-light:          #999999;
    --white:               #fefefe;
    --grey-light:          #f5f5f5;
    --grey-med:            #e6e6e6;
    --grey-dark:           #d9d9d9;
    --grey-dark2:          #cccccc;
    --blue-light:          #daedf7;
    --item-awards-default: var(--grey-dark);
    --item-awards-hover:   var(--my-brand-color);
}
